<p>
  <strong>Title:</strong>
  <%= markdown(@article.title) %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= markdown(@article.text) %>
</p>

  <% if @article.private %>
    <% if Collaborator.exists?(article_id: @article) %>
      <%= render partial: 'collaborators/users' %>
    <% end %>
  <% end %>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>